@model Testing_Login.Models.Brought

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Brought</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="car_Company" class="control-label"></label>
                <input asp-for="car_Company" class="form-control" />
                <span asp-validation-for="car_Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="car_model" class="control-label"></label>
                <input asp-for="car_model" class="form-control" />
                <span asp-validation-for="car_model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="car_condition" class="control-label"></label>
                <input asp-for="car_condition" class="form-control" />
                <span asp-validation-for="car_condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_number" class="control-label"></label>
                <input asp-for="Contact_number" class="form-control" />
                <span asp-validation-for="Contact_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

