@{
    ViewData["Title"] = "Home Page";
}

@*<p id="demo" style="font-size: 0.5cm;color:lightgreen;"></p>


<img src="logo.jpg" width="250" height="100">

<h1 style="color: #009;"><strong> sell or buy ---></strong
     <i class='fas fa' style='font-size:25px;color:black'>
     <i><MARQUEE direction="right"><i class='' style='font-size:68px;color:black'><img src="mc.png" width="400" height="100" ></i></MARQUEE></i>*@


<style>
    body {
        background-image: url("/car-buy-sell.jpg");
        background-size: cover;
    }
</style>

<body>
    @*<img src="/car-buy-sell.jpg" width="100%"/>*@
</body>