
@{
    ViewData["Title"] = "N0_items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Sorry! You were too late on this item </h4>
<h4>This item was unavailable currently</h4>
<h4>You can continue shopping</h4>
<div>
    <a asp-action="Index" class="btn btn-primary style="background-color:green">Back to Cart</a>
</div>
